.subtitle {
  padding: 3rem 0;
}


.one_section {
  display: grid;
  grid-template-columns: 50% 50%;
  img {
    object-fit: cover;
    object-position: top 20%;
    width: 100%;
  }
  &_left {
    // overflow-y: hidden;
    img {
      transform: scale(1.2);
    }
  }
  &_right {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .card_info {
    // margin: -2.5rem 0 !important;
    @extend %card;
  }
  // **************** responsice ***************
  @include media-md {
    margin-bottom: 0.5rem;
    padding: 0.8rem 0.5rem;
    .card_info {
      transform: translateY(-2rem);
    }
    .one_section_left {
      img {
        transform: translateX(-2rem) scale(1.4);
        // z-index: -3 !important;
      }
    }
  }
  @include media-sm{
     grid-template-columns: 1fr;
    .one_section_left{
    display: none;
   }
   .one_section_right{
     margin-bottom: 5rem;
     .card_info{
         text-align: center;
     }
   }
  }
  // **************** end responsice ***************
}
.two_section {
  overflow-x: hidden;
  height: 80vh;
  position: relative;
  background-attachment: fixed;
  background-position: center 0%;
  background-size: cover;
  overflow: hidden;
  background-repeat: no-repeat;
  background-image: url('/img/sectiontwo.png');
  .rectangle {
    position: absolute;
    width: 1250px;
    height: 1000px;
    left: -25rem;
    background-color: $primary-color;
    transform: rotate(55deg);
  }
  .card_info {
    top: 25%;
    left: 15%;
    position: absolute;
    @extend %card;
  }
  // **************** responsive  for two section ***************
  @include media-md {
    .rectangle {
      left: -45rem;
    }
  }
  @include media-sm{
     .card_info{
       left: 8%;
     }
     .rectangle{
       transform: rotate(180deg) translateY(-25%);
     }
  }
  // **************** end responsive for two section ***************
}
.section_three {
  overflow-x: hidden;
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  h2 {
    position: relative;
    margin: 3rem 0 1rem 15%;
    width: 70%;
    @include line_bottom(60%, -18px);
  }
  .cards {
    margin: 4rem 0;
    width: 70%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    .card {
      background-color: #ffffff;
      padding: 25px 25px;
      border-radius: 30px;
      max-width: 280px;
      .contain_icon {
        width: 100%;
        display: flex;
        justify-content: center;
        img {
          object-fit: cover;
          width: 65%;
        }
      }
      h3 {
        text-align: center;
        margin: 10px 0;
        font-size: 1rem;
      }
      p {
        @extend .paragraph;
        text-align: left;
        margin: 0.5rem 0.3rem;
        // line-height: 1.5rem;
      }
    }
  }

  // **************** resposive  section two  ***************
  @include media-md {
    height: auto;
    h2 {
      @include line_bottom(100%, -18px);
    }
    .cards {
      grid-template-columns: repeat(2, 1fr);
      justify-items: center !important;
      .card {
        margin: 10px 12px;
        padding: 25px 15px;
      }
    }
  }
  @include media-sm{
    h2 {
      // position: relative;
      // margin: 3rem 0 1rem 15%;
      // width: 70%;
      text-align: center;
      line-height: 27px;
      // font-size: 1.5rem !important;
      // border: 2px solid black;
      width: 100%;
      left: -1rem;

      @include line_bottom(85%, -18px);
    }
    .cards{
      grid-template-columns: 1fr;
      .card{
        max-width: 350px !important;
        h3{
          padding: 1rem 0;
        }
        p{
          margin: 1rem 0;
          font-size: 1rem ;
          text-align: center;
        }

      }
    }
  }
  // **************** end resposive  ***************
}
.row_social {
  overflow-x: hidden;
  z-index: 100;
  margin-top: -5.4rem;
}

// **************** meet us ***************

.meet_us {
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  &_contact {
    margin: 1rem 0;
    width: 45%;
    display: flex;
    justify-content: space-between;
    .content {
      display: flex;
      i,
      h3 {
        margin: 0.1rem 1rem;
      }
      h3 {
        font-style: italic;
        font-size: 1rem;
        // font-weight: ;
      }
    }
    /***************************responsive contact*************************************/
     @include media-md{
         width: 80%;
     }
 
    /***************************responsive contact*************************************/
  }

  @include media-sm{
    // background-color: blue;
    // width: 60%;
  
    .meet_us_contact{
      justify-content: center;
      flex-direction: column ;
      align-items: center;
      .content{
       flex-direction: column;   
         justify-content: center;
         text-align: center;
         align-items: center;
         margin: 1rem 0;
         h3{
           font-size: 0.8rem;
         }
        }
    }
  }
  .map {
    margin-top: 2rem;
    overflow: hidden;
    iframe {
      width: 95vw;
      height: 60vh;
    }
  }
  /***************************responsive meets us*************************************/
  

  /***************************responsive meets us*************************************/
}
// **************** end meet us ***************


// **************** helpers ***************
/*
space top for inline-galery 
*/
.space_top {
  margin-top: 7rem;
  @include media-md {
    margin-top: 1rem;
  }
  @include media-lg {
    margin-top: 1.3rem;
  }
}

.space_top_row_social {
  margin-top: 0.5rem;
}
// **************** end helpers ***************
