%menu {
  a {
    text-decoration: none;
    color: black;
    text-transform: uppercase;
  }
  grid-column: 3;
  display: flex;
  justify-content: space-around;
  @include media-sm{
    flex-direction: column;
   justify-content: center;
   align-items: center;
   li{
     margin: 1.1rem 0;
   }
  }
  @include media-md {
    grid-column: span 3;
  }
  
}
.header {
  .burguer{
  visibility: hidden;
  }
  &__nav {
    display: grid;
    grid-template-columns: 20% 20% 60%;
    width: 100%;
    padding: 20px 15px;
    .menu {
      @extend %menu;
      /***************************responsive mobile*************************************/
      @include media-sm{
        display: none;
      }
      &.open{
        transition: 1s ease-in-out;
         display: flex;
        

       }
      /***************************responsive mobile*************************************/
      .burguer {
        // text-align: right;
        outline: none;
        border: none;
        position: relative;
        //  padding: 1.5rem 0;
        margin: 1rem 0;   
        button{
               right: -8rem;
               position: absolute;
                 
           }
      }
     }
    @include media-md {
       margin-left: 1rem;
      .logo {
        text-align: center;
        padding: 1rem 0;
        grid-column: span 3;
      }
    }
    @include media-sm{
      grid-template-columns: 40% 20%;
       .logo{
         grid-column: 1;
       }
      .burguer{
        display: block;
        visibility: visible;
        grid-column: 3;
       }
       .menu{
          grid-column:  span 3;
       }

    }
  }
  .swiper-container {
    width: 100%;
    overflow: hidden;
     @include media-sm{
       height: 70vh;
     }
  }
  .slide_content {
    // overflow-x: hidden;
    height: 85vh;
    background-position: center 20%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    
    &.video {
      position: relative;
      .video {
        position: absolute;
        width: 100%;
        top: -4rem;
        object-fit: cover;
        object-position: center center;
      }
    }
    // box with description
    .about_slide {
      font-size: 18px;
      position: absolute;
      bottom: 0;
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      // **************** responsive 768 ***************
      @include media-md {
        .about_slide_first {
          width: 100%;
          .content {
            margin-left: 10%;
          }
        }
      }
      // **************** end responsive 768 ***************
      &_first {
        background: $primary-color;
        width: 60%;
        .content {
          margin-left: 22%;
        }
        h3,
        p {
          padding: 10px 10px;
          margin: 10px 25px;
        }
      }
      &_second {
        height: 17vh;
        width: 50%;
        background-color: #ffffff;
        display: flex;
        padding-left: 2rem;
        flex-direction: column;
        align-items: flex-start;
        h3 {
          padding: 15px 10px;
        }
        justify-content: flex-start;
        .social {
          margin-bottom: 1rem;
          margin-right: 1.5rem;
          i {
            font-size: 2.3em;
          }
        }
      }
    }
   
      /***************************responsive mobile 368*************************************/
       @include media-sm{
         background-size: contain;
         height: 60vh;
         background-position: center top;
        //  height: 100vh;
        .about_slide{
           justify-content: center;
              bottom: -5rem !important;
              z-index: 10;
           align-items: flex-start;
           left: -1.8rem !important;
          flex-direction: column;
            &_first{
               .content{
                 width: 100%;
                 background-color: $primary-color;
                 margin-left: 0;
       
               }
              p{
                padding: 0;
                font-size: 0.9rem;
              }
            }
            &_second{
              width: 100%;
              display: flex ;
              justify-content: center;
              .title, .social{
                // border: 2px solid black;
                width: 92%;
                text-align: center;
              }
              .social{
                display: flex;
                justify-content: space-around;
                align-items: center;

              }
            }
          }
           
       }
       
      /***************************responsive mobile 368*************************************/
  }

  /***************************responsive*************************************/
   
  /***************************responsive*************************************/
}
